= form_for @todo do |f|
  - if @todo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo.errors.count, "error")} prohibited this todo from being saved:"
      %ul
        - @todo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  %h3 Rewards
  = f.collection_select :reward_ids, Reward.all, :id, :title, {}, {:multiple=>true}
  %h3 Schedule
  = f.fields_for :schedule do |fs|
    .field
      = fs.label :day_of_week
      = fs.select :day_of_week, Date::DAYNAMES.zip(Date::DAYNAMES)
    .field
      = fs.label :from1
      = fs.time_select :from
    .field
      = fs.label :to
      = fs.time_select :to
  .actions
    = f.submit 'Save'
